.admin-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.board-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.example-list {
  margin-top: 8%;
}

.example-form-control {
  min-width: 83%;
}

.admin-button {
  margin-left: 5pt;
  margin-right: 5pt
}
